<h1 style="text-align: center;">PROFILE</h1>
<div class="container">
<table class="table table-bordered">
    <tr>
      <th>
        NAME
      </th>
      <td>
        {{employeeList.name | uppercase}}
      </td>
    </tr>
    <tr>
        <th>
          DOB
        </th>
        <td>
          {{employeeList.dob}}
        </td>
      </tr>
      <tr>
        <th>
          PLACE
        </th>
        <td>
          {{employeeList.place | uppercase}}
        </td>
      </tr>
      
  </table>
</div>